/* Main Style */
a:hover{ color:#57adf9; }
.post .post-social .readmore{ background:#57adf9; }
.post .post-social a:hover{ background:#57adf9; }
.post-icon .fa-inverse{ color:#57adf9; }
.pagination li a:hover{ background:#57adf9; }
.pagination li.current a{ background:#57adf9; }
.widget-container .searchform #searchsubmit{ background:#57adf9; }
.tagcloud a:hover{ background:#57adf9;}
.comment-header a{ color:#57adf9; }
#comment-submit:hover{ background:#57adf9; }
.logged-in-as a{ color:#57adf9; }
.carousel-item h6 a:hover{ color:#57adf9; }

.carousel-controls a:hover{ background:#57adf9; color:#FFFFFF  }

.widget-carousel-item h6 a:hover{ color:#57adf9; }
.widget-carousel-controls a:hover{ background:#57adf9; }

/* Orbit Slider */
div.slider-nav span.right:hover{ background:#57adf9; }
div.slider-nav span.left:hover{ background:#57adf9; }

/* Super Fish */
.sf-menu li:hover,
.sf-menu li.sfHover { background: #57adf9; }

.sf-menu li.current{ background: #57adf9; }
.sf-menu li.current-menu-item{ background: #57adf9; }