﻿@{
    ViewBag.Title = "Access denied";
}

@section Body
{  
    <div class="access-margin"></div>
    <div class="post">
        <div class="post-margin">
            <div class="access-denied">
                <h4>Access to requested resource denied!</h4>
            </div>
        </div>
    </div>
}
