﻿@{
    ViewBag.Title = "Resource not found";
}

@section Body
{
    <div class="access-margin"></div>
    <div class="post">
        <div class="post-margin">
            <div class="access-denied">
                <h4>Requested resource not found (404)!</h4>
            </div>
        </div>
    </div>
}
