﻿@model MvcPL.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

@section Body
{
    <div class="post">
        <div class="post-margin">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <h2>Register new account</h2>
                    <div class="editor-label">
                        <h6>@Html.LabelFor(model => model.Login)</h6>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Login, new { @class = "edit-box" })
                        @Html.ValidationMessageFor(model => model.Login)
                    </div>

                    <div class="editor-label">
                        <h6>@Html.LabelFor(model => model.Password)</h6>
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.Password, new { @class = "edit-box" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="editor-label">
                        <h6>@Html.LabelFor(model => model.ConfirmPassword)</h6>
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "edit-box" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                    <div class="editor-label">
                        <h6>@Html.Label("Captcha: ")</h6>
                    </div>
                    <div class="editor-label">
                        <label>
                            <img src="@Url.Action("Captcha", "Account")" alt="captcha" />
                        </label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Captcha, new { @class = "edit-box" })
                        @Html.ValidationMessageFor(model => model.Captcha)
                    </div>
                    <input type="submit" value="Register" class="send-btn select-margin" />
                </fieldset>
            }
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
