﻿@model MvcPL.ViewModels.SignInViewModel

@{
    ViewBag.Title = "Sign In";
}


@section Body
{
    <div class="post">
        <div class="post-margin">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset>
                    <h2>Sign in:</h2>
                    <div class="editor-label">
                        <h6>@Html.LabelFor(model => model.Login)</h6>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Login, new { @class = "edit-box" })
                        @Html.ValidationMessageFor(model => model.Login)
                    </div>
                    <div class="editor-label">
                        <h6>@Html.LabelFor(model => model.Password)</h6>
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.Password, new { @class = "edit-box" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="editor-label">
                        <h6>
                            Remember me @Html.CheckBoxFor(model => model.RememberMe)
                        </h6>
                    </div>
                    <input type="submit" value="Sign in" class="send-btn select-margin" />
                    <div>
                        <h6>Have not account? @Html.ActionLink("Register!", "Register")</h6>
                    </div>
                </fieldset>
            }
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
